name: Oppdater Solgraf

on:
  schedule:
    - cron: '0 3 * * *' # Kjører kl 03:00 UTC hver dag
  workflow_dispatch: # Lar deg kjøre den manuelt ved behov

permissions:
  contents: write

jobs:
  build:
    runs_on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Generate plot
      run: python generate_plot.py

    - name: Commit and push if changed
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'
        git add solgraf.png
        git commit -m "Oppdaterte solgraf for i dag" || exit 0
        git push
